

:root {
    /* get from settings: */
    --msg-bg-color: var(--settings-msg-bg-color, var(--color-base-20));   /* #57966f */
    --editor-bg-color: color-mix(in srgb, var(--msg-bg-color) 82%, black);    /* Editor bg color = message bg color just darker */
    --msg-corner-radius: var(--settings-msg-corner-radius, 12px);
}

/* --------------------------------*/
/* MESSAGE BUBBLE AND CONTENT */
/* --------------------------------*/

.chat-message {
    display: block;
    position: relative;

    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 22px;
    padding-right: 22px;

    margin: 10px 0;
    border-radius: var(--msg-corner-radius);
    max-width: 100%;
    background-color: var(--msg-bg-color);  

    border: 1px solid #ffffff3d;
}

/* Set note background to transparent (just display messages) */
.markdown-reading-view .markdown-preview-view,
.markdown-source-view.mod-cm6 .cm-contentContainer {
    background-color: #00000000;
}

/* Make common embed blocks gaps in preview mode the same as in reading mode*/
.cm-editor .embed, .cm-editor .language-pyton, .cm-editor .block-language-img-gallery {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.message-content {
    margin: 0px;
    padding: 0px;
    display: block;
    /* prevents long strings cut off inside preview mode */
    overflow-wrap: anywhere;
    word-break: break-word;
}

/* prevents overflow inside codeblocks */
.message-content pre {
    white-space: pre-wrap;
    word-break: break-word;
}


/* --------------------------------*/
/* MESSAGE HEADER */
/* --------------------------------*/

.msg-header {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    opacity: 0.7;
}

.msg-header-meta {
    margin-left: auto;
    font-size: 0.8em;
    display: flex;
    gap: 6px;
    margin-right: 12px;
}

.msg-timestamp {
    background-color: #2e2c30;
    border-radius: 5px;
    padding: 0.5px 5.5px;
    color: #c9cbcc;
    opacity: 0.7;
    margin-left: 11px;
}

.msg-action-btn-container {
    display: none;
    gap: 6px;
}

.msg-action-menu.menu-open .msg-action-btn-container {
    display: flex;
}

/* Animated Menu 
.msg-action-btn-container {
    display: flex;
    opacity: 0;
    gap: 6px;
    transform: translateX(6px);
    pointer-events: none;
    transition: opacity 120ms ease, transform 120ms ease;
}

.msg-action-menu.menu-open .msg-action-btn-container {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
}
*/

.msg-action-menu {
    display: flex;
    align-items: center;
    gap: 6px;
}

.msg-action-btn {
    border: none;
    background-color: var(--msg-bg-color) !important;
    background: var(--background-modifier-hover);
    border-radius: 4px;
    padding: 0px 6px;
    cursor: pointer;
}

/* turn off shadow via settings*/
body.menu-btn-no-shadow .msg-action-btn {
	box-shadow: none !important;
}

/* Button Size */
.msg-action-btn svg {
    width: 16px;
    height: 14px;
}

/* Confirm Deletion Pop Up */
.msg-delete-confirm-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

/* --------------------------------*/
/* MESSAGE EDITOR */
/* --------------------------------*/

.msg-inline-editor {
    width: 100%;
    min-height: 52px; 
    max-height: 320px; 
    resize: none !important;
    overflow-y: auto;

    border: none;
    outline: none;
    box-shadow: none;
    background: var(--editor-bg-color);
    font-family: var(--font-monospace);
    padding: 6px;
}

.msg-inline-editor:focus {
    outline: none;
    box-shadow: none;
    background: var(--editor-bg-color);
}

.msg-inline-editor:hover {
    outline: none;
    box-shadow: none;
    background: color-mix(in srgb, var(--editor-bg-color) 70%, var(--msg-bg-color));
}

.msg-editor-wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.msg-editor-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 6px;
}

.msg-editor-wrapper .msg-btn {
    align-self: flex-end;
}
