
:root {
    --msg-border-color: #ffffff3d;
}

/* --------------------------------*/
/* MESSAGE BUBBLE AND CONTENT */
/* --------------------------------*/

.chat-message {
    display: block;
    position: relative;

    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 22px;
    padding-right: 22px;

    margin: 10px 0;
    border-radius:  var(--settings-msg-corner-radius, 12px) !important;
    max-width: 100%;
    background-color: var(--settings-msg-bg-color, var(--color-base-20)) !important;  

    border: 1px solid var(--msg-border-color);
    will-change: transform;
}

.chat-message.bump {
    animation: bump 180ms ease;
}

@keyframes bump {
    0%   { transform: scale(1); }
    40%  { transform: scale(1.03); }
    100% { transform: scale(1); }
}

/* Filter to hide messages that are not pinned */
.hidden-by-pin-filter {
    display: none !important;
}

.markdown-reading-view .chat-message
{
    background-color: var(--settings-msg-bg-color, var(--color-base-20)) !important;
}
.markdown-source-view.mod-cm6 .chat-message {
    background-color: var(--settings-msg-bg-color, var(--color-base-20)) !important;
}

/* Set note background to transparent (just display messages) */
.markdown-reading-view .markdown-preview-view,
.markdown-source-view.mod-cm6 .cm-contentContainer {
    background-color: #00000000;
}

/* Make common embed blocks gaps in preview mode the same as in reading mode*/
.cm-editor .embed, .cm-editor .language-pyton, .cm-editor .block-language-img-gallery {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.message-content {
    margin: 0px;
    padding: 0px;
    display: block;
    /* prevents long strings cut off inside preview mode */
    overflow-wrap: anywhere;
    word-break: break-word;
}

/* prevents overflow inside codeblocks */
.message-content pre {
    white-space: pre-wrap;
    word-break: break-word;
}

/* Scroll to message highlighting */  
.chat-message::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    pointer-events: none;
    opacity: 0;
}

.chat-message-scroll-highlight::after {
    animation: message-highlight 0.9s ease;
}

@keyframes message-highlight {
    0% {
        border: 5px solid var(--settings-msg-flash-color, white);
        background: transparent;
        opacity: 0;
    }

    35% {
        background:  var(--settings-msg-flash-color, rgba(255, 255, 255, 0.55));
        border: 5px solid  var(--settings-msg-flash-color, white);
        opacity: 0.9;
    }

    45% {
        
        border: 4px solid  var(--settings-msg-flash-color, white);
        background: transparent;
        opacity: 1;
    }

    100% {
        
        border: 2px solid  var(--settings-msg-flash-color, white);
        background: transparent;
        opacity: 0;
    }
}

/* --------------------------------*/
/* MESSAGE HEADER */
/* --------------------------------*/

.msg-header {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    opacity: 0.7;
}

.msg-header-meta {
    margin-left: auto;
    font-size: 0.8em;
    display: flex;
    gap: 6px;
    margin-right: 12px;
}

.msg-author,
.msg-timestamp {
    font: inherit;
    border: none;
    cursor: pointer;
}

.msg-author {
    background: transparent !important;
    box-shadow: none !important;
    padding: 0;
    margin: 0;
    color: inherit;
}

.msg-timestamp {
    background-color: #2e2c30;
    border-radius: 5px;
    padding: 0.5px 5.5px;
    color: #c9cbcc;
    opacity: 0.7;
    margin-left: 11px;
}

.msg-action-btn-container {
    display: none;
    gap: 6px;
}

.msg-action-menu.menu-open .msg-action-btn-container {
    display: flex;
}

/* Animated Menu 
.msg-action-btn-container {
    display: flex;
    opacity: 0;
    gap: 6px;
    transform: translateX(6px);
    pointer-events: none;
    transition: opacity 120ms ease, transform 120ms ease;
}

.msg-action-menu.menu-open .msg-action-btn-container {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
}
*/

.msg-action-menu {
    display: flex;
    align-items: center;
    gap: 6px;
}

.msg-action-btn {
    border: none;
    background-color: var(--settings-msg-bg-color, var(--color-base-20)) !important;
    background: var(--background-modifier-hover);
    border-radius: 4px;
    padding: 0px 6px;
    cursor: pointer;
    transition: opacity 180ms ease;
}

/* turn off shadow via settings*/
.menu-btn-no-shadow .msg-action-btn {
	box-shadow: none !important;
}

/* Button Size */
.msg-action-btn svg {
    width: 16px;
    height: 14px;
}

/* Confirm Deletion Pop Up */
.msg-delete-confirm-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}


.msg-action-btn.fade {
    opacity: 0.5;
}

/* --------------------------------*/
/* MESSAGE EDITOR */
/* --------------------------------*/

.msg-inline-editor {
    width: 100%;
    min-height: 52px; 
    max-height: 320px; 
    resize: none !important;
    overflow-y: auto;

    border: none;
    outline: none;
    box-shadow: none;
    background: color-mix(in srgb, var(--settings-msg-bg-color, var(--color-base-20)) 82%, black);
    font-family: var(--font-monospace);
    padding: 6px;
}

.msg-inline-editor:focus {
    outline: none;
    box-shadow: none;
    background: color-mix(in srgb, var(--settings-msg-bg-color, var(--color-base-20)) 82%, black);
}

.msg-inline-editor:hover {
    outline: none;
    box-shadow: none;
    background: color-mix(in srgb, color-mix(in srgb, var(--settings-msg-bg-color, var(--color-base-20)) 82%, black) 70%, var(--settings-msg-bg-color, var(--color-base-20)));
}

.msg-editor-wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.msg-editor-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 6px;
}

.msg-editor-wrapper .msg-btn {
    align-self: flex-end;
}

/* --------------------------------*/
/* INPUT FIELD */
/* --------------------------------*/

.chat-input-container {
    position: absolute; /* fixed; ? */
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100; /* prevent other themes from overlaying bars on top of the input field */
    pointer-events: auto;
    display: flex;

    margin-bottom: 1%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 14px;
    padding-right: 14px;
    min-height: 72px; 
    gap: 8px;

    background: var(--background-primary);
    border: 1px solid var(--msg-border-color); 
    border-radius: 28px;
}

.cm-contentContainer,
.markdown-preview-sizer {
padding-bottom: 80px;
}

.markdown-preview-view,
.cm-sizer {
    position: relative;
}

.chat-input {
    flex: 1;
    resize: none;
    margin: 2px;
    overflow-y: auto;
    min-height: 48px; /* keeps the original baseline height even when content/JS height is smaller */
}

.chat-send-button {
    flex-shrink: 0;
    position: relative;
    align-self: flex-end;
}